h1 {
    /* text-shadow: 3px 3px 3px red; */

    /* multiple shadow ---> */
    text-shadow: 3px 3px 3px red, 0 0 6px blue, 0 0 0.2em blue;
}

.boxShadow {
    background-color: blueviolet;
    width: 200px;;
    height: 200px;;
    box-shadow: 10px 10px 15px green, 15px 15px 15px yellow;
    color: red;
}