* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #e84949;
    --text-color: white;
    --hover-color: #1f1f1f;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 0.8rem 2.3rem;
    font-size: 18px;
    box-shadow: 5px 5px 7px 0px #0000003f;
    position: relative;
    z-index: 1;
}

.btn::before {
    content: "";
    background-color: var(--hover-color);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: .5s;
}

.btn:hover::before {
    transform: scaleX(1);
    z-index: -1;
}