.container {
    height: 500px;
    width: 500px;
    background-color: green;
    border: 3px solid red;
    display: flex;
}

.box {
    height: 150px;
    width: 150px;
    margin: 20px;
    border: 2px solid orange;
    background-color: aqua;

    /* transition: .5s; */

    /* transition-property: background-color; */
    /* transition-property: all; */

    /* transition-property: all;
    transition-delay: .5s; */
    

    /* transition: width .5s; */
    /* transition: width transform .5s; */

    /* transition: transform 5s ease 1s; */

    transition: transform 3s ease;


}

.box:hover {
    background-color: blue;
    /* width: 300px;
    transform: rotate(45deg); */

    transform: scale(1.5) translateX(501px) rotate(360deg);
}